body {
    font-family: 'PT Sans';
    background-color: #f2f2f2;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: normal;
    height: 100%;
    /*min-height: calc(100vh - 50px);*/
}

form1 {
    background-color: #FFFFFF;
}

header {
    position:fixed;
    width: 100%;
    height: 70px;
    background-color: black;
    text-decoration: none;
    /*position: static;*/
    z-index: 0;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.head-main {
    width: 100%;
    height: 70px;
    /*min-height: calc(100vh - 50px);*/
    /*background-color: black;*/
    text-decoration: none;
    position: fixed;
    /*z-index: 9999;*/
}

.logo {
    display: inline-block;
    color: #fff;
    font-weight: bolder;
    height: 30px;
    margin-top: 18px;
    margin-bottom: 18px;
    letter-spacing: 13px;
    text-decoration: none;
    font-size: 155%;
}

.logo_img {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    /*margin-bottom: 10px;
    margin-top: 10px;*/
    width: 70px;
    height: 70px;
    float: left;
}

.logo-links {
    letter-spacing: 3px;
    /*text-decoration: none;
    color: white;*/
}

.link-button-authorization {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    margin-left: 40px;
    float: right;
    height: 30px;
    margin-top: 18px;
}

.link-button-telegram-bot {
    text-decoration: none;
    color: white;
    margin-left: 40px;
    float: right;
    height: 30px;
    margin-top: 18px;
}

.link-button-vk-bot {
    text-decoration: none;
    color: white;
    margin-left: 40px;
    float: right;
    height: 30px;
    margin-top: 18px;
}

/*.logo_buttons {
    float: left;
    text-align: left;
    margin-top: 10px;
}*/
.main {
    padding-top: 70px;
    padding-bottom: 150px;
    padding-left: 100px;
    padding-right: 50px;
    text-align: justify;
    text-indent: 3%;
}

.partical-line {
    margin-top: 10px;
    margin-bottom: 10px;
}

.poem-partical-line {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.partical-title {
    font-size: large;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    float: right;
    padding-left: 40%;
    margin-bottom: 120px;
}

.word-name {
    font-size: larger;
    font-style: italic;
    font-weight: bold;
}

.word-value {
    width: 87%;
    position: absolute;
    margin-bottom: 120px;
}

.logo_column1 {
    float: left;
    display: inline-block;
    width: 400px;
}

.logo_column2 {
    float: right;
    display: inline-block;
    margin-top: -5px;
    width: 300px;
}

.footer {
    width: 100%;
    height: 115px;
    background-color: black;
    text-decoration: none;
    position: fixed;
    /*z-index: 101;*/
    bottom: 0;
    left: 0;
    box-shadow: 0 -14px 28px rgba(0,0,0,0.25), 0 -7px 10px rgba(0,0,0,0.22);
    /*position: absolute;*/
}

.footer-main {
    /*display: block;*/
    width: 100%;
}

.footer-buttons {
    width: 100%;
    /*display: block;*/
    /*text-align: justify;*/
}

.footer-button-partical {
    display: inline-block;
    width: 110px;
    height: 110px;
    float: left;
}

.footer-button-poem-partical {
    display: inline-block;
    width: 140px;
    height: 110px;
    float: left;
}

.footer-button-word {
    display: inline-block;
    width: 140px;
    height: 110px;
    float: left;
}

.image-button-partical {
    margin-left: 15px;
}

.image-button-poem-partical {
    margin-left: 35px;
}

.image-button-word {
    margin-left: 30px;
}

/*.footer-main {
    visibility: hidden;
}*/

/*html {
    position: relative;
    min-height: 100%;
}*/


@media screen and (max-width:767px) {
    .logo-links {
        visibility: hidden;
    }
    
    .main {
        padding-left: 10px;
        padding-right: 10px;
    }

    .partical-title {
        padding-left: 10px;
    }

    .logo_buttons {
        visibility: hidden;
    }

    footer {
        width: 100%;
        height: 30px;
        background-color: black;
        text-decoration: none;
        position: fixed;
        /*z-index: 101;*/
        bottom: 0;
        left: 0;
        box-shadow: 0 -14px 28px rgba(0,0,0,0.25), 0 -7px 10px rgba(0,0,0,0.22);
    }

    .footer-button-partical {
        display: inline-block;
        width: 30px;
        height: 30px;
        float: left;
    }

    .footer-button-poem-partical {
        display: inline-block;
        width: 30px;
        height: 30px;
        float: left;
    }

    .footer-button-word {
        display: inline-block;
        width: 30px;
        height: 30px;
        float: left;
    }

    .footer-button-partical-text {
        visibility: hidden;
    }

    .footer-button-poem-partical-text {
        visibility: hidden;
    }

    .footer-button-word-text {
        visibility: hidden;
    }
}

