/*@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot");
    src: url("../fonts/Roboto/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), 
        url("../fonts/Roboto/RobotoLight/RobotoLight.woff") format("woff"), 
        url("../fonts/Roboto/RobotoLight/RobotoLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}*/



body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}
.form1 {
    background-color: #FFFFFF;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 70px;
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
    /*8 dp*/ 
    /*box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 3px rgba(0,0,0,0.12), 0 4px 5px 0 rgba(0,0,0,0.20);*/
    /*6 dp*/
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.20);
    /*4 dp*/
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);*/
}
.header-main {
    float: left;
    display: flex;
}

.logo_img {
    width: 70px;
    height: 70px;
    float: left;
}
.logo {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 14px;
    margin-top: 14px;
    letter-spacing: 0.25px;
    font-size: 34px;
    font-weight: 300;
}
.logo-links {
    letter-spacing: 0.75px;
    float: right;
    font-size: 14px;
    font-weight: 300;
}

.link-button {
    text-decoration: none;
    color: black;
    margin-top: 17px;
    margin-bottom: 17px;
    float: right;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    border: 2px solid black;
    border-radius: 3px;
    margin-right: 0px;
    margin-left: 7px;
}
    .link-button:hover {
        background-color: whitesmoke;
    }
    .link-button:active {
        background-color: lightgrey;
    }

.main,
.MainContent {
    width: 70%;
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    color: white;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

h1 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    color: black;
    font-size: 48px;
    font-weight: 300;
    letter-spacing: 0px;
}
h2 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 0.25px;
}
h3 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    color: black;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0px;
}

.content-main-page {
    color: black;
}

.black-label-word-name,
.black-label-main-content {
    background-color: black;
    border-radius: 20px;
    /*4 dp*/
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);
    padding: 30px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.black-label-word-name {
    font-size: 34px;
    letter-spacing: 0.25px;
}

.particle-settings {
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.particle-settings-theme-types-column {
    display: flex;
    flex-direction: column;
}
.particle-settings-authors-numbers-column {
    display: flex;
    flex-direction: column;
}
.particle-settings-checkboxes-text {

}
.particle-settings-checkboxes-theme-types {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.particle-settings-checkboxes-authors-numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.particle-settings-authors-numbers-checkboxes-group {
    display: flex;
    flex-direction: column;
}
.checkbox-span {
    text-align: left;
}

.footer {
    width: 70%;
    height: 90px;
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    left: 0;
    /*6 dp*/
    box-shadow: 0 -6px 10px 0 rgba(0,0,0,0.14), 0 -1px 18px 0 rgba(0,0,0,0.12), 0 -3px 5px 0 rgba(0,0,0,0.20);
}

.footer-main,
.footer-buttons {
    width: 100%;
}

.footer-buttons-left-column,
.footer-buttons-right-column {
    display: flex;
    flex-direction: column;
}
.footer-buttons-right-column {
    flex-direction: row-reverse;
    float: right;
    width: 480px;
}
.footer-buttons-left-column {
    float: left;
    width: 390px;
}

.footer-left-text {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: left;
    font-weight: 300;
}
.footer-right-text {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: right;
    font-weight: 300;
}

.footer-button-left {
    display: flex;
    float: left;
}
.footer-button-right {
    display: flex;
    float: right;
}

.button-footer-left-column,
.button-footer-right-column {
    letter-spacing: 0.75px;
    font-size: 14px;
    font-weight: 300;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    /*margin-right: 7px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    /*float: left;*/
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
    .button-footer-left-column:hover,
    .button-footer-right-column:hover {
        background-color: whitesmoke;
    }
    .button-footer-left-column:active,
    .button-footer-right-column:active {
        background-color: lightgrey;
    }
.button-footer-left-column {
    margin-right: 7px;
    float: left;
}
.button-footer-right-column {
    margin-left: 7px;
    float: right;
}

.footer-images-buttons {
    display: none;
}


@media screen and (max-width:1390px) {

    header {
        width: 96%;
        height: 50px;
        padding-left: 2%;
        padding-right: 2%;
    }
    .header-main {
        width: 100%;
    }

    .logo_img {
        width: 50px;
        height: 50px;
        float: left;
    }
    .logo-links {
        visibility: hidden;
    }
    .logo {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 4px;
        margin-top: 4px;
    }

    .main {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 55px;
        margin-bottom: 70px;
    }

    .footer {
        width: 96%;
        height: 50px;
        padding-left: 2%;
        padding-right: 2%;
        display: flex;
    }
    .footer-buttons {
        display: none;
    }
    .footer-images-buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .footer-images-buttons-left-column {
        display: flex;
        flex-direction: row;
        width: 200px;
    }
    .footer-images-buttons-right-column {
        display: flex;
        flex-direction: row-reverse;
    }

    h1 {
        font-size: 24px;
        font-weight: 300;
        letter-spacing: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    h3 {
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.15px;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .black-label-main-content {
        padding: 15px;
    }
    .black-label-word-name {
        padding: 15px;
        font-size: 24px;
        letter-spacing: 0px;
    }

    p {
        margin: 0;
        margin-bottom: 2px;
    }

    .image-button-particle,
    .image-button-word {
        /*display: flex;*/
        height: 24px;
        width: 24px;
        padding: 8px;
        margin-left: 3px;
        margin-top: 3px;
        margin-bottom: 6px;
        border: 2px solid white;
        border-radius: 22px;
    }
        .image-button-particle:hover,
        .image-button-word:hover {
            background-color: whitesmoke;
        }
        .image-button-particle:active,
        .image-button-word:active {
            background-color: lightgrey;
        }

    .image-button-particle,
    .image-button-word {
        margin-right: 3px;
    }       
}

