
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.form1 {
    background-color: #FFFFFF;
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    height: 70px;
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
    /*8 dp*/ 
    /*box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 3px rgba(0,0,0,0.12), 0 4px 5px 0 rgba(0,0,0,0.20);*/
    /*6 dp*/
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.20);
    /*4 dp*/
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);*/
}

.header-main {
    float: left;
    display: inline-block;
}

.logo_img {
    display: inline-block;
    width: 70px;
    height: 70px;
    float: left;
}

.logo {
    display: inline-block;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 14px;
    margin-top: 14px;
    letter-spacing: 0.25px;
    font-size: 34px;
    font-weight: 400;
}

.logo-links {
    display: inline-block;
    letter-spacing: 0.75px;
    float: right;
    font-size: 14px;
    font-weight: 400;
}

.link-button-telegram-bot,
.link-button-vk,
.link-button-authorization,
.link-button-main-page {
    text-decoration: none;
    color: black;
    margin-top: 17px;
    margin-bottom: 17px;
    float: right;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    border: 2px solid black;
    border-radius: 3px;
}

    .link-button-telegram-bot:hover,
    .link-button-vk:hover,
    .link-button-authorization:hover,
    .link-button-main-page:hover {
        background-color: whitesmoke;
    }

.link-button-telegram-bot,
.link-button-vk {
    margin-right: 7px;
    margin-left: 7px;
}

.link-button-authorization {
    margin-right: 0px;
    margin-left: 7px;
}

.link-button-main-page {
    margin-left: 4px;
    margin-right: 4px;
}


.main,
.MainContent {
    width: 70%;
    margin-top: 90px;
    margin-bottom: 100px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.label-subtitle-main,
h1 {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0px;
}

.label-subtitle-partical-line,
.label-subtitle-partical-title,
.label-subtitle-about-site,
.label-subtitle-partical,
.label-subtitle-navigation,
.label-subtitle-statistics,
.label-subtitle-gratitudes,
h2 {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 0.25px;
}

.label-about-site,
.label-partical,
.label-navigation,
.label-statistics,
.label-gratitudes,
.content-main-page {
    color: black;
}

.label-partical-line,
.label-poem-partical-line,
.label-partical-title,
.label-word-name,
.label-word-value {
    /*margin-top: 20px;*/
    background-color: black;
    border-radius: 20px;
    /*4 dp*/
    box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.20);
    padding: 2%;
}

.label-partical-line,
.label-word-name,
.label-poem-partical-line {
    padding-top: 10px;
    padding-bottom: 10px;
}

.label-poem-partical-line {
    text-align: center;
}

.label-partical-title,
.label-word-value {
    color: white;
}

.label-word-name {
    font-size: 34px;
    letter-spacing: 0.25px;
}


.partical-settings {
    color: black;
}


.footer {
    width: 70%;
    height: 70px;
    background-color: white;
    padding-left: 15%;
    padding-right: 15%;
    text-decoration: none;
    position: fixed;
    bottom: 0;
    left: 0;
    /*6 dp*/
    box-shadow: 0 -6px 10px 0 rgba(0,0,0,0.14), 0 -1px 18px 0 rgba(0,0,0,0.12), 0 -3px 5px 0 rgba(0,0,0,0.20);
}

.footer-main,
.footer-buttons {
    width: 100%;
}

.footer-buttons-left-column,
.footer-buttons-right-column {
    display: inline-block;
}
.footer-buttons-right-column {
    float: right;
    width: 50%;
}
.footer-buttons-left-column {
    width: 49%;
}


.footer-button-left {
    display: inline-block;
    float: left;
}
.footer-button-right {
    display: inline-block;
    float: right;
}


.button-partical,
.button-word,
.button-proverb,
.button-read-next,
.button-report,
.button-reload,
.button-read-previous,
.button-partical-save {
    letter-spacing: 0.75px;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-right: 7px;
    margin-top: 17px;
    margin-bottom: 17px;
    /*float: left;*/
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
    .button-partical:hover,
    .button-poem-partical:hover,
    .button-word:hover,
    .button-proverb:hover,
    .button-read-next:hover,
    .button-read-previous:hover,
    .button-report:hover,
    .button-reload:hover,
    .button-partical-save:hover {
        background-color: whitesmoke;
    }
.button-partical {
    margin-left: 0px;
    float: left;
}
.button-word,
.button-proverb {
    margin-left: 7px;
    float: left;
}
.button-reload,
.button-read-next,
.button-report,
.button-read-previous {
    float: right;
}


.footer-images-buttons {
    display: none;
}



@media screen and (max-width:1390px) {
    
    header {
        width: 96%;
        height: 50px;
        padding-left: 2%;
        padding-right: 2%;
    }
    .header-main {
        width: 100%;
    }
    .logo_img {
        width: 50px;
        height: 50px;
        float: left;
    }
    .logo-links {
        visibility: hidden;
    }
    .logo {
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 4px;
        margin-top: 4px;
    }

    .main {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 55px;
        margin-bottom: 70px;
    }

    .footer {
        width: 96%;
        height: 50px;
        padding-left: 2%;
        padding-right: 2%;
    }
    .footer-buttons {
        display: none;
    }
    .footer-images-buttons {
        width: 100%;
        display: inline-block;
    }

    .label-subtitle-about-site,
    .label-subtitle-partical,
    .label-subtitle-navigation,
    .label-subtitle-statistics,
    .label-subtitle-gratitudes,
    h2 {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.15px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .label-subtitle-main,
    .label-subtitle-partical-line,
    .label-subtitle-partical-title,
    h1 {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0px;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .label-partical-line,
    .label-partical-title,
    .label-word-value {
        padding: 5%;
    }
    .label-word-name {
        padding: 5%;
        font-size: 24px;
        letter-spacing: 0px;
    }

    p {
        margin: 0;
        margin-bottom: 2%;
    }

    .image-button-partical,
    .image-button-poem-partical,
    .image-button-word {
        display: inline-block;
        height: 24px;
        width: 24px;
        padding: 8px;
        margin-left: 3px;      
        margin-top: 3px;
        margin-bottom: 6px;
        float: right;
        border: 2px solid white;
        border-radius: 22px;
    }
        .image-button-partical:hover,
        .image-button-poem-partical:hover,
        .image-button-word:hover {
            background-color: whitesmoke;
        }
    .image-button-partical {
        margin-right: 2%;
    }
    .image-button-poem-partical,
    .image-button-word {
        margin-right: 3px;
    }
}

